body {
  background-color: antiquewhite;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: antiquewhite;
}

li {
  float: left;
}

li a {
  display: block;
  color: antiquewhite;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

button {
  font-size: medium;
}

button:hover {
  background-color: aqua;
}